<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <span>Hello {{user_name}},</span>
  <p>We're thrilled to let you know that your dedicated Penknife Environment is ready for you.</p>
  <p>To access your account, simply visit <a href="{{ environment_link }}">{{ environment_link }}</a> and log in using the following credentials:</p>
  <p> Email: {{email}}<br>
      Temporary Password: {{password}}</p>
  <p>Please note that you’ll be asked to set a new password on the first visit.</p>
  <br>
    <p>Warm Regards,</p>
    <p>Team Penknife</p>
    <p>E: <a href="support@penknife.com">support@penknife.com</a></p>
</body>
</html>
