<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <span>Hi,</span>
  <p>
      Payment has failed for the customer. Reset link is sent to the customer for further action.<br>

      <b>Customer Details: </b><br>
      <i>Name</i>: {{customer_name}}<br>
      <i>Email</i>: {{customer_email}}<br>
      <i>Phone</i>: {{customer_phone}}<br>
  </p>
  <br>
    <p>Thanks,</p>
    <p>Team Veritable</p>
    <p>E: <a href="mailto:support@veritable.app">support@veritable.app</a></p>
    <p>W: <a href="https://www.veritable.app/">https://www.veritable.app/</a></p>
</body>
</html>
