<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <span>Dear User,</span>
  <p>Your OTP for signing up for {{plan_name}} plan is <strong>{{otp}}</strong>. Please remember that this OTP will expire in {{expiry_minutes}} minutes.</p>
<p>For any assistance, reach out to our support team at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.</p>
<br>
    <p>Thanks,</p>
    <p>Team Veritable</p>
    <p>E: <a href="mailto:support@veritable.app">support@veritable.app</a></p>
    <p>W: <a href="https://www.veritable.app/">https://www.veritable.app/</a></p>
</body>
</html>
