<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <span>Hello {{user_name}},</span>
  <p>Your payment for the Veritable platform has been processed successfully.</p>
  <p>Subscription Details: <br>
    <span><strong>Plan Name:</strong> {{plan_name}}</span><br>
     <span><strong>Billing Interval:</strong> {{plan_interval}}</span><br>
     <span><strong>Renewal Date:</strong> {{renew_date}}</span><br></p>

  <p>Kindly refer to the attached invoice for a comprehensive breakdown of the services provided.</p>
  <p>If you have any questions or need assistance, please contact our support team at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.</p>
  <br>
    <p>Warm Regards,</p>
    <p>Team Veritable</p>
    <p>E: <a href="mailto:support@veritable.app">support@veritable.app</a></p>
    <p>W: <a href="https://www.veritable.app/">https://www.veritable.app/</a></p>
</body>
</html>
