<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <span>Hello {{user_name}},</span>
  <p>Your recurring service charge for Veritable has been successfully processed.</p>
  <p>Here are your subscription details: <br>
     <span><strong>Plan Name:</strong> {{plan_name}}</span><br>
     <span><strong>Billing Interval:</strong> {{plan_interval}}</span><br>
     <span><strong>Renewal Date:</strong> {{renew_date}}</span><br></p>
  <p>Please refer to the attached invoice for a charge breakdown.</p>
  <p>We hope that Veritable continues to add value to your practice operations, making your workflows smoother and more efficient. You can always access your Veritable portal here <a href="{{ tenant_link}}"></a>{{ tenant_link }}.</p>
  <p>Should you require any clarification or assistance, please do contact us at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.</p>
  <p>Thank you for being a Veritable customer!</p>
  <br>
    <p>Warm Regards,</p>
    <p>Team Veritable</p>
    <p>E: <a href="mailto:support@veritable.app">support@veritable.app</a></p>
    <p>W: <a href="https://www.veritable.app/">https://www.veritable.app/</a></p>
</body>
</html>
