<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <span>Dear {{user_name}},</span>
<p> We would like to inform you that your Veritable account has already been set up. You can now conveniently log in using the URL:  <a href="{{ environment_link }}">{{ environment_link }}</a>.</p>

<p> If you did not authorise this sign-in, please contact our support team immediately at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.</p>
<br>
    <p>Thanks,</p>
    <p>Team Veritable</p>
    <p>E: <a href="mailto:support@veritable.app">support@veritable.app</a></p>
    <p>W: <a href="https://www.veritable.app/">https://www.veritable.app/</a></p>
</body>
</html>
