<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <span>Dear {{user_name}},</span>
<p>We regret to inform you that your payment for {{plan_name}} was unsuccessful. To ensure uninterrupted access to your dedicated environment, please add an alternative payment method by visiting the following link:   <a href="{{ accounts_link }}">{{ accounts_link }}</a>.</p>


<p>Thank you for your understanding and prompt attention to this matter.</p>
<p>If you need any assistance, please contact our support team at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.</p>
<br>
    <p>Thanks,</p>
    <p>Team Veritable</p>
    <p>E: <a href="mailto:support@veritable.app">support@veritable.app</a></p>
    <p>W: <a href="https://www.veritable.app/">https://www.veritable.app/</a></p>
</body>
</html>
