<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <span>Hello {{user_name}},</span>
    <p>
      We regret to inform you that your payment for "{{plan_name}}" was
      unsuccessful.
    </p>
    <p>
      To ensure uninterrupted access to your dedicated portal, please update
      your payment method as soon as possible. You can do this by visiting the
      following link:<a href="{{payment_link}}">{{payment_link}}</a>
    </p>
    <p>Your prompt attention to this matter is greatly appreciated.</p>
    <p>
      Should you require any assistance or have any questions, please don't
      hesitate to contact our dedicated support team at
      <a href="mailto:{{ support_email }}">{{ support_email }}</a>.
    </p>
    <br />
    <p>Warm Regards,</p>
    <p>Team PriceDx</p>
    <p>
      E: <a href="mailto:developers@314ecorp.com">developers@314ecorp.com</a>
    </p>
    <p>W: <a href="https://www.314ecorp.com/">https://www.314ecorp.com/</a></p>
  </body>
</html>
