<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <span>Hello {{user_name}},</span>
  <p>Your PriceDx subscription has been upgraded to the {{plan_name}} Plan.</p>
  <p>Subscription Details: <br>
     <span><strong>Plan Name:</strong> {{plan_name}}</span><br>
     <span><strong>Billing Interval:</strong> {{plan_interval}}</span><br>
     <span><strong>Renewal Date:</strong> {{renew_date}}</span><br></p>
  <p>Kindly refer to the attached invoice for a comprehensive breakdown of the services provided.</p>
  <p>If you have any questions, please contact our support team at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.</p>
  <br>
    <p>Warm Regards,</p>
    <p>Team PriceDx</p>
    <p>E: <a href="mailto:developers@314ecorp.com">developers@314ecorp.com</a></p>
    <p>W: <a href="https://www.314ecorp.com/">https://www.314ecorp.com/</a></p>
</body>
</html>
