<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <span>Dear {{user_name}},</span>
    <p>Your payment for {{plan_name}} has been successfully processed.</p>
    <p>
      However, we apologize for the inconvenience caused as it's taking a little
      extra time to get your dedicated environment set up.<br />
      Rest assured, our dedicated support team is actively working on resolving
      this issue and ensuring that you gain access to your dedicated environment
      promptly.<br />
      We appreciate your understanding and patience, and we are committed to
      making your PriceDx experience exceptional.
    </p>
    <br />
    <p>
      For any assistance, reach out to our support team at
      <a href="mailto:{{ support_email }}">{{ support_email }}</a>.
    </p>
    <br />
    <p>Thanks,</p>
    <p>Team PriceDx</p>
    <p>
      E: <a href="mailto:developers@314ecorp.com">developers@314ecorp.com</a>
    </p>
    <p>W: <a href="https://www.314ecorp.com/">https://www.314ecorp.com/</a></p>
  </body>
</html>
