<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  <span>Hello <<user_name>>,</span>
    <p>Your dedicated Pricedx Environment is now ready for use.</p>
    <p>To get started, click the link <a href="<<environment_link>>"><<environment_link>></a> and log in using these credentials:</p>
    <p>
        <strong>Email:</strong> <<email>><br>
        <strong>Temporary Password:</strong> <<password>>
    </p>
    <p>You'll be prompted to set a new password on your first login.</p>
    <br>
    <p>Best regards,</p>
    <p>Team Pricedx</p>
    <p>E: <a href="support@pricedx.com">support@pricedx.com</a></p>
    <p>W: <a href="https://www.pricedx.com/">https://www.pricedx.com/</a></p>
</body>
</html>
