<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <span>Hi,</span>
    <p>Kube config certificate for launchpad is going to expire at {{expiry_date}}.</p>
    <p>Please update the kube config certificate.</p>
    <br>
    <p>Thanks,</p>
    <p>Team Launchpad</p>
    <p>E: <a href="mailto:support@launchpad.314ecorp.com">support@launchpad.314ecorp.com</a></p>
    <p>W: <a href="https://www.launchpad.314ecorp.com/">https://www.launchpad.314ecorp.com/</a></p>
</body>
</html>
