<p class="editor-paragraph" dir="ltr"><span style="white-space: pre-wrap;">Hi {{eventsubscriber.first_name}} {{eventsubscriber.last_name}},</span></p>
<p class="editor-paragraph" dir="ltr"><span style="white-space: pre-wrap;">We would like to inform you that the following asset(s) has expired and requires your attention:</span></p>
<p class="editor-paragraph" dir="ltr"><span style="white-space: pre-wrap;">Expired Assets:</span></p>
<ol class="editor-list-ol">
{{#each step.events}}
  <li class="editor-listitem" dir="ltr">
    <a href="{{asset.asset_link}}" class="editor-link" dir="ltr"><span style="white-space: pre-wrap;">{{asset.asset_title}}</span></a><span style="white-space: pre-wrap;"> — {{asset.expiration_date}}</span>
  </li>
{{/each}}
</ol>
<p class="editor-paragraph" dir="ltr"><span style="white-space: pre-wrap;">Regards,</span></p>
<p class="editor-paragraph" dir="ltr"><span style="white-space: pre-wrap;">Team Jeeves</span></p>