<p class="editor-paragraph" dir="ltr"><span style="white-space: pre-wrap;">Hello {{eventsubscriber.first_name}}
        {{eventsubscriber.last_name}},</span></p>
<p class="editor-paragraph" dir="ltr"><span style="white-space: pre-wrap;">Congratulations! 🎉 You have successfully
        completed the assignment</span></p>
<p class="editor-paragraph" dir="ltr"><b><strong class="editor-text-bold" style="white-space: pre-wrap;">Assignment
            Title:</strong></b><span style="white-space: pre-wrap;"> </span><a href="{{assignment.link}}"
        class="editor-link" dir="ltr"><span style="white-space: pre-wrap;">{{assignment.name}}</span></a></p>
<p class="editor-paragraph" dir="ltr"><b><strong class="editor-text-bold" style="white-space: pre-wrap;">Completed
            on:</strong></b><span style="white-space: pre-wrap;"> {{assignment.completed_date}}</span></p>
<p class="editor-paragraph" dir="ltr"><b><strong class="editor-text-bold" style="white-space: pre-wrap;"><u>Quiz
                Details:</u></strong></b></p>
<p class="editor-paragraph" dir="ltr"><b><strong class="editor-text-bold"
            style="white-space: pre-wrap;font-size: 13px;">Score:</strong></b><span
        style="white-space: pre-wrap;font-size: 12px;">
        {{assignment.quiz_details.scoredmarks}}/{{assignment.quiz_details.maxmarks}}</span></p>
<p class="editor-paragraph" dir="ltr"><b><strong class="editor-text-bold"
            style="white-space: pre-wrap;font-size: 13px;">No. of attempts:</strong></b><span
        style="white-space: pre-wrap;font-size: 12px;"> {{assignment.quiz_details.attemptnumber}}</span></p>
<p class="editor-paragraph" dir="ltr"><b><strong class="editor-text-bold"
            style="white-space: pre-wrap;font-size: 13px;">Completed At:</strong></b><span
        style="white-space: pre-wrap;font-size: 12px;"> <time
            datetime="{{assignment.quiz_details.completedat}}">{{dateFormat assignment.quiz_details.completedat
            "yyyy-MM-dd, hh:mm a"}}</time></span></p>
<p class="editor-paragraph" dir="ltr"><span style="white-space: pre-wrap;">Regards,</span></p>
<p class="editor-paragraph" dir="ltr"><span style="white-space: pre-wrap;">{{email_signature}}</span></p>